.artist {
}

.artist__block {
  display: flex;
  flex-direction: column;
}

.artist__img {
  border-radius: 3px;
  width: 350px;
  height: 380px;
  background: var(--base-bg-secondary);
}

.artist__name {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 142%;
  letter-spacing: -0.02em;
  color: var(--base-text-primary);
  padding-top: 24px;
  padding-bottom: 4px;
}

@media screen and (width <= 767px) {
  .artist__name {
    font-size: 20px;
    line-height: 1.4;
    padding-top: 16px;
  }
}

.artist__post {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--base-text-secondary);
}

@media screen and (width <= 767px) {
  .artist__name {
    font-size: 20px;
    line-height: 1.4;
    padding-top: 16px;
  }
}
