.statistics {
  padding: 71px 165px 64px;
}

@media screen and (width <= 1023px) {
  .statistics {
    padding: 40px 16px;
  }
}

.statistics__title {
}

@media screen and (width <= 1023px) {
  .statistics__title {
    font-size: 42px;
    line-height: 1.2;
  }
}

@media screen and (width <= 767px) {
  .statistics__title {
    font-size: 32px;
    line-height: 1.2;
  }
}

.statistics_text {
  padding-top: 8px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--base-text-on-dark);
}

@media screen and (width <= 767px) {
  .statistics_text {
    font-size: 16px;
    line-height: 1.4;
  }
}

.statistics__list {
  padding-top: 55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (width <= 767px) {
  .statistics__list {
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-top: 24px;
  }
}

.statistics__item {
  max-width: 255px;
  width: 100%;
  padding-bottom: 6px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.statistics__num {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 52px;
  line-height: 119%;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--base-text-on-dark);
}

@media screen and (width <= 767px) {
  .statistics__num {
    font-size: 40px;
    line-height: 1.2;
  }
}

.statistics__span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--base-text-on-dark);
}

@media screen and (width <= 767px) {
  .statistics__span {
    font-size: 16px;
    line-height: 1.4;
  }
}

.statistics__divider {
  height: 96px;
  width: 1px;
  background-color: var(--base-text-on-dark);
  opacity: 0.4;
  transform-origin: center;
}

@media screen and (width <= 1298px) {
  .statistics__divider {
    height: 1px;
    width: 100%;
    margin: 16px 0;
  }
}
