body {
  background-color: var(--base-bg-primary);
  color: var(--base-text-secondary);
  font-family: var(--font-family, --second-family, sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: transparent;
}
